* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table {
    border-spacing:0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
}

table {
    border:none;
    border-collapse: collapse;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}
.new__student__btn {
    display: table;
    text-align: center;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.buttonss{
    display: table-cell;
    vertical-align: bottom;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}