<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedular</title>
    <link href="https://fonts.googleapis.com/" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
<div class="container">

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('add_new_student') }}">
                new student
            </a>
        </button>
    </div>

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('add_new_rotation') }}">
                new rotation
            </a>
        </button>
    </div>

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('create_block_schedule') }}">
                Create Block Schedule
            </a>
        </button>
    </div>

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('generate_schedule') }}">
                Generate Schedule
            </a>
        </button>
    </div>
<!--    <form action="{{ url_for('create_block_schedule')}}" method="POST">-->
<!--        <div class='new__action__btn'>-->
<!--            <select id="block_year" name="block_year" required>-->
<!--                <option disabled selected value>&#45;&#45; select an option &#45;&#45;</option>-->
<!--                {% for b in blocks %}-->
<!--                <option value={{b}}>{{b}}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <input type="submit" role="button" value={{b}} create block schedule>-->
<!--            <a class="site-button">-->
<!--                <span class="site-button-inner">create block schedule</span>-->
<!--            </a>-->

<!--        </div>-->
<!--    </form>-->


    <div class="student__table">
        <table class="table">
            <tr class="table__header">
                {% for header in s_headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in sudents %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="student__table">
        <table class="table">
            <tr class="table__header">
                {% for header in r_headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in rotations %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>

</html>