<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedular</title>
    <link href="https://fonts.googleapis.com/" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
<div class="container">

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('add_new_student') }}">
                new student
            </a>
        </button>
    </div>

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('add_new_rotation') }}">
                new rotation
            </a>
        </button>
    </div>

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('create_block_schedule') }}">
                Create Block Schedule
            </a>
        </button>
    </div>

    <div class='new__action__btn'>
        <button type="button" class="buttonss">
            <a class='btn btn-primary' href="{{ url_for('generate_schedule') }}">
                Generate Schedule
            </a>
        </button>
    </div>


    <div class="student__table">
        <table class="table">
            <tr class="table__header">
                {% for header in s_headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
                <th class="table__cell">Edit</th>
            </tr>
            {% for s in sudents %}
            <tr class="table__row">
                <td class="table__cell">{{s.first_name}}</td>
                <td class="table__cell">{{s.last_name}}</td>
                <td class="table__cell">{{s.grad_year}}</td>
                <td>
                    <button type="button" class="buttonss">
                        <a class='btn btn-primary' href="{{ url_for('generate_schedule') }}">
                            Edit
                        </a>
                    </button>
                </td>
                <td>
                    <button type="button" class="buttonss">
                        <a class='btn btn-primary' href="{{ url_for('add_vacation_days', id=s.student_id) }}">
                            Vacation Days
                        </a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="student__table">
        <table class="table">
            <tr class="table__header">
                {% for header in r_headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in rotations %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>

</html>