<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>students</title>
    <link href="https://fonts.googleapis.com/" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
<div>
    <form action="{{ url_for('return_home')}}" method="POST">
        <div>
            <div class="basic-info">
                <div class="contact row">
                    <div class="col-3">
                        <input type="text" id="f_name" name="f_name" placeholder="first" required>
                        <input type="text" id="l_name" name="l_name" placeholder="last" required>
                        <input type="text" id="travel_from" name="travel_from" placeholder="Traveling from">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>